

.custom-navbar {
    /* Styles for the navbar */
    background-color: #2424ab !important;
    padding-left: 1%;
    padding-right: 3%;
}



.custom-link {
    /* Styles for the links */
    padding-left: 2%;
    margin-right: 2%;
}
.text-primary {
    border: 1px solid white !important;
    border-radius: 8px;
    color: white !important;
    /* text-decoration: underline; */
    
}

