.title {
    font-size: xxx-large;
    text-align: center;
}

.search-container {
    border-radius: 25px;
    border: blue solid 3px;
    padding: 6px;
    width: 33%;
    min-width: 350px;
    position: relative;
    padding-left: 15px;
}

.search-bar {
    width: 90%;
    padding: 0px;
    margin: 5px 0;
}

.input-box {
    width: 100%;
    border: none;
    outline: none;
    margin-left: 15px
}

.icon {
    max-width: fit-content;
    padding: 0px;
}

.render-suggestion {
    font-size: 16px;
    cursor: pointer;
    margin: 20px;
    position: relative;
    top: 0;
    z-index: 1;
}

